# Ignores to speed up yadm completion
snap
Videos
Pictures
Downloads
Desktop
Documents
.thunderbird
.vagrant.d
.themes
.nix-defexpr
.nix-profile
.mozilla
.local/state
.local/share/*
!.local/share/yadm
.pki
.gnome
.gnupg
.manpath
.config/pulse
.config/totem
.config/google-chrome
.config/menus
.config/VirtualBox
.config/evolution
.config/.gsd-keyboard.settings-ported
.cache
.GlobalProtect
GP_HTML
.zhistory
.viminfo
