[submodule ".config/rofi/gruvbox-rofi"]
	path = .config/rofi/gruvbox-rofi
	url = https://github.com/bardisty/gruvbox-rofi
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
